page-camera {
  ion-content{
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
  }

  ion-icon{
    font-size: 200%;
    margin-bottom: 5%;
    align-self: center;
    margin-left: 35%;
  }

  img{
    width: 90%;
    height: auto;
  }
}
