page-camera {
  ion-content{
    text-align: center;
    margin-top: 5%;
  }

  ion-icon{
    font-size: 80px;;
    margin-bottom: 5%;
    color: #488aff;
  }

  img{
    width: 90%;
    height: auto;
  }
}
